
@{
    ViewBag.Title = "Index";
}

<div class="index_slider">
    <div class="container">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li><img src="~/FrontEndAssets/images/slider1.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/FrontEndAssets/images/2.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/FrontEndAssets/images/3.jpg" class="img-responsive" alt="" /></li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
      <h1> Welcome to my shopping portal </h1>
</div>