
@{
    ViewBag.Title = "PaymentGateway";
}
<h2>Welcome to Payment Gateway</h2>
<p>
    Please enter detials ...
</p>
@using (Html.BeginForm())
{ 
  <input type="submit" value="Pay" class="btn btn-danger" />
}


